header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 3%;
    right: 3%;
}

.todo-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    padding: .5rem;
}

.todo-wrapper {
    margin: 8vh auto;
    background: lightgray;
    width: 90%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
}

.todo-list li {
    position: relative;
    border-radius: 8px;
    width: 18%;
    margin: 5px;
    border: 2px solid darkgray;
    padding: 1.2rem;
    flex-wrap: wrap;
    background: lightyellow;
}